{
  "extends": [
    "@myparcel/eslint-config/preset-vue3-typescript",
    "@vue/eslint-config-typescript/recommended",
    "@vue/eslint-config-prettier"
  ],
  "parserOptions": {
    "project": "./tsconfig.app.json"
  },
  "env": {
    "vue/setup-compiler-macros": true
  },
  "rules": {
    "@typescript-eslint/no-implied-eval": "off",
    "class-methods-use-this": "off",
    "prettier/prettier": [
      "warn",
      {
        "printWidth": 120
      }
    ],
    "babel/object-curly-spacing": "off",
    "no-void": "off",
    "@typescript-eslint/space-before-function-paren": [
      "warn",
      {
        "anonymous": "never",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "@typescript-eslint/consistent-type-definitions": "off",
    "@typescript-eslint/member-ordering": [
      "warn",
      {
        "default": [
          "public-field",
          "protected-field",
          "private-field",
          "public-get",
          "protected-get",
          "private-get",
          "public-set",
          "protected-set",
          "private-set",
          "public-method",
          "protected-method",
          "private-method"
        ]
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "./**/*.js",
        "./**/*.ts"
      ],
      "env": {
        "node": true
      }
    },
    {
      "files": [
        "./test/**/*.ts",
        "./src/**/*.spec.ts"
      ],
      "rules": {
        "@typescript-eslint/no-magic-numbers": "off",
        "max-len": "off",
        "max-lines-per-function": "off"
      }
    },
    {
      "files": [
        "cypress/e2e/**.{cy,spec}.{js,ts,jsx,tsx}"
      ],
      "extends": [
        "plugin:cypress/recommended"
      ]
    }
  ]
}
